@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
h1{
  text-align: center;
  background-color: pink;
  // color: red; color is not working
}

.block-align{
text-align: center;
padding-top: 20px;

}
.landing_img{
 width: 100%;
}
.bg-faded{
  background-color:black;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}
.navbar-light .navbar-brand {
    color: yellow;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.nav-logo{
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
